@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Asher's Film Reviews</h1>
    <p>Check out my <a href="https://letterboxd.com/asherswartzberg/">Letterboxd</a>!</p>
</div>
<br />
<div class="text-center">
    <h1 class="display-6">My Favourite Films</h1>
    <img src="https://a.ltrbxd.com/resized/film-poster/5/1/8/4/6/51846-dead-poets-society-0-2000-0-3000-crop.jpg?v=9273e8acf7" style="height: 200px;"/>
    <img src="https://a.ltrbxd.com/resized/film-poster/5/1/9/7/4/51974-before-sunrise-0-2000-0-3000-crop.jpg?v=006e8fedea" style="height: 200px;"/>
</div>
<br />
<div class="container p-5">
    <h1 class="display-6 text-center">Why I like film...</h1>
    <p>
        I enjoy watching movies because I don't like reading, therefore film is the perfect storytelling medium for me.
        There are also a lot of elements that make cinema a unique artform such as cinematography, acting, soundtrack, and production design.
    </p>
    <h1 class="display-6 text-center">Do you want me to review a film?</h1>
    <p class="text-center">
        Go <a asp-area="" asp-controller="Home" asp-action="Calculator">here</a> to see how much it would cost for me to review a film for you.
    </p>
</div>
